<section class="pagina-carrinho">
  <h2>Favoritos</h2>
  @if (favoritos().length === 0) {
    <p>Nenhum Produto adicionado aos Favoritos</p>
    <button mat-raised-button color="primary" type="button" routerLink="/produtos">Voltar para Produtos</button>
  }@else{
    <section class="lista-carrinho">
      @for (item of favoritos(); track item) {
        <article class="item-carrinho">
          <div>
            <p class="nome-produto">
              <strong> {{ item }}</strong>
            </p>
            <button mat-stroked-button color="warn" type="button" (click)="removerItem(item)"> Remover </button>
          </div>
        </article>
      }
    </section>
    <section class="resumo-carrinho">
      <h3>Resumo</h3>
      <p>Total de Produtos:</p>
      <strong>{{favoritos().length}}</strong>
    </section>
  }
</section>