<section class="container-carrinho">

    <h2>Carrinho</h2>
    @if (carrinhoFacade.carrinhoVazio()) {
        <p>Seu carrinho está vazio.</p>
        <button mat-button color="primary" routerLink="/produtos">Ver produto</button>

    }@else {
        <section class="lista-carrinho">
            @for (item of carrinhoFacade.itensCarrinho(); track $index) {
                <article class="item-carrinho">
                    <div>
                        <p><strong>{{item.nome}}</strong></p>
                        <p>{{item.preco | precoFormatado}}</p>
                        
                        <button  mat-stroked-button color="warn" 
                        type="button" 
                        (click)="removerItem($index)">Remover</button>
                    </div>
                </article>
            }
        </section>
        <section class="resumo-carrinho">
            <p><strong>Itens no carrinho: </strong> {{carrinhoFacade.quantidadeCarrinho()}}</p>
            <P><strong>Total:</strong>{{ carrinhoFacade.totalCarrinho() | precoFormatado}}</P>
        </section>
        <section class="acoes-carrinho">
            <button mat-button type="button" (click)="limparCarrinho()"> Limpar carrinho</button>
            <button mat-button type="button" routerLink="/produtos"> Continuar compra</button>
            <button class="acao-carrinho-confirmar"  mat-button type="button" routerLink="/checkout"> Finalizar compra</button>
            <button class="acao-carrinho-cancelar"  mat-button type="button" (click)="cancelarCompra()"> Cancelar compra</button>
        </section>
    }

</section>