<h2>Checkout</h2>
<form [formGroup]="formulario">
    <p><input type="text" formControlName = "nome" placeholder = "Nome"></p>
    @if(formulario.get('nome')?.touched && formulario.get('nome')?.invalid){
        @if (formulario.get('nome')?.errors?.['required']){
            <small style="color: red;" >Nome é Obrigatório!</small>
    }
    }
@if (formulario.get('nome')?.errors?.['minlength']) {
    <small style="color: red;">Nome deve ter no mínimo 3 letras</small>
}
@if (formulario.get('nome')?.errors?.['numeroInvalido']) {
    <br>
    <small style="color: red;">Nome não pode conter Números</small>
}

    <p><input type="email" formControlName = "email" placeholder = "E-mail"></p>
    @if (formulario.get('email')?.touched && formulario.get('email')?.invalid) {
        @if (formulario.get('email')?.errors?.['riquired']) {
            <br>
            <small style="color: red;">E-mail é Obrigatório</small>
        }
        @if (formulario.get('nome')?.errors?.['minlegenth']) {
            <br>
            <small style="color: red;"> E-mail Invalido sem @</small>
    }
}
@if (formulario.get('email')?.errors?.['email']) {
    <br>
    <small style="color: red;">E-mail invalido</small>
}

    <p><input type="text" formControlName = "endereco" placeholder = "Endereço"></p>
    @if (formulario.get('endereco')?.touched && formulario.get('endereco')?.invalid) {
        @if (formulario.get('endereco')?.errors?.['riquered']) {
            <br>
            <small style="color: red;">Endereço é Obrigatório</small>
        }
    }

    @if (formulario.get('endereco')?.errors?.['minlength']){
        <br>
        <small style="color: red;">Nome deve ter no mínimo 5 letras</small>
    }


    <button type="button" (click)="finalizar()" [disabled]="formulario.invalid">Finalizar compra</button>
</form>