.pagina-login{
    max-width: 700px;
    text-align: center;
}

.login-finalizado{
    font-size: 20px;
    margin-top: 16px;
    text-align: center;
}

.button-login{
    text-align: center;
} 

input{
    width: 50%;
    border: 1px solid #130f0f;
    border-radius: 25px;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
}
 